$Narandzasta: #f75311;
$Tamno-plava: #374249;
$Boja-fonta: #797979;
$pozadina-naslova-prveSekcije: #46464677;
$pozadina-hovera-slika: rgba(248, 201, 139, 0.671);
$Naslovi: #374249;
$Svetlo-siva-1: #cfd1d3;
$Svetlo-siva-2: #f3f7f9;
$Web-fontovi:'Roboto', sans-serif;