@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import 'vars';
@import 'mixins';
body{
    margin: 0;
    header{
        height: 3em;
        background-color: $Tamno-plava;
        nav{
            .NewYork{
                float: left;
                padding: 1em 4em 1em 3em; 
                text-decoration: none;
                color: white;
                background-color: $Narandzasta;
                height: 1em;
                img{
                    float: left;
                    width: 1.6em;
                    height: 1.5em;
                }
                &:hover{
                    text-decoration: underline;
                }
            }
            ul{
                float: left;
                text-decoration: none;
                list-style-type: none;
                margin:0;
                li{
                    display: inline-block;
                    text-decoration: none;
                    padding: 1em 2em 1em 2em; 
                    a{
                        text-decoration: none;
                        color: white;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
    .prvaSekcija{
        position: relative;
        background-image: url("../slike/intro.jpg");
        background-repeat: no-repeat;
        background-position: center;
        color: white;
        text-align: center;
        margin: 0;
        padding: 0;
        height: 300px;
        div{
            position: absolute;
            top: 70%;
            left: 20%;
            width: 60%;
            height: 3em;
            background-color: $pozadina-naslova-prveSekcije;
            text-align: center;
            h1{
                font: $Web-fontovi;
                margin: 0;
            }
            p{
                font: $Web-fontovi;
                margin: 0;
            }
        }
    }
    .drugaSekcija{
        form{
            margin-left: 50%;
            margin-bottom: 2%;
            margin-top: 2%;
            input{
                font-size: 16px;
                text-align: center;
                width: 8em;
                height: 2em;
                border-radius: 20px;
                border-style: groove;
                &:hover{
                    background-color: gray;
                    color: white;
                }
            }
        }
    }
    .trecaSekcija{
        background-color: $Svetlo-siva-1;
        div{
            display: inline-block;
            padding: 2% 12% 2% 18%;
            figure{
                position: relative;
                float: left;
                width: 19%;
                margin:2% 2% 0% 2%;
                img{
                    width: 100%;
                    max-height: 150px;
                    padding-left: 0.5em;
                    padding-bottom: 0.5em;
                }
                figcaption{
                    display: none;
                    
                }
                &:hover{
                    figcaption{
                        text-align: center;
                        padding: 0.5em 0 0.5em 0;
                        background-color: $pozadina-hovera-slika;
                        color: white;
                        width: 100%;
                        max-height: 2em;
                        display: inline-block;
                        position: absolute;
                        top: -1%;
                        left: 5.9%;
                    }
                }
            }
        }
    }
    
    .cetvrtaSekcija{
        text-align: center;
        h1{
            font: $Web-fontovi;
            color: $Naslovi;
            margin-bottom: 5%;
        }
        p{
            color: $Boja-fonta;
            margin-bottom: 3%;
        }
        input{
            display: none;
        }
        table, tr, td{
            margin: auto;
            padding: 0.2em;
        }
        tr{
            width: 60%;
            td{
                width: 15%;
            }
        }
        .prazno{
            border: none;
        }
        .crveno{
           @include borderColor();
        }
        .crvenob{
            @include borderColor();
            border: 1px solid grey;
        }
        .plavo{
            @include borderColor2();
        }
        .plavob{
            @include borderColor2();
            border: 1px solid grey;
        }
        .belo{
            background-color: white;
            color: $Boja-fonta;
            border: 1px solid grey;
        }
    }
    
    .petaSekcija{
        background-color: $Svetlo-siva-1;
        position: relative;
        min-height: 450px;
        h1{
            color: $Naslovi;
            text-align: center;
            padding-top: 1em;
            padding-bottom: 1em;
        }
        div{
            @include pozicijaPeteSekcije();
            left: 19%;
            margin: 2% auto 2% auto;
        }
        form{
            @include pozicijaPeteSekcije();
            left: 47%;
            background-color: $Narandzasta;
            text-align: center;
            margin: 2% auto 2% auto;
            min-height: 4em;
            select{
                float: left;
                width: 19.5%;
                @include marginePadding();
            }
            .prviRed{
                float: left;
                width: 67%;
                @include marginePadding();
                color: $Boja-fonta;
            }
            .ceoRed{
                width: 91%;
                @include marginePadding();
                color: $Boja-fonta;
            }
            textarea{
                width: 91%;
                @include marginePadding();
                color: $Boja-fonta;
            }
        }
    }
    footer{
        height: 1.5em;
        padding-top: 0.4em;
        background-color: $Tamno-plava;
        color: white;
        text-align: center;
        margin: 0;
        span{
            color: $Narandzasta;
        }
    }
}
@media screen and (max-width:600px){
body{
    header{
        nav{
            .NewYork{
                padding: 1em 2em 1em 2em;
                &:hover{
                    text-decoration: underline;
                }
            }
            ul{
                li{
                    padding: 1em 1em 1em 1em; 
                }
            }
        }
    }
    .drugaSekcija{
        form{
            margin-left: 30%;
        }
    }
    .trecaSekcija{
        div{
            figure{
                width: 40%;
                &:hover{
                    figcaption{
                        left: 4.4%;
                    }
                }
            }
        }
    }
    .cetvrtaSekcija{
        input{
            display: none;
        }
    }
    .petaSekcija{
        background-color: $Svetlo-siva-1;
        position: relative;
        min-height: 650px;
        div{
            position: absolute;
            top: 15%;
            width: 100%;
            left: 25%;
        }
        form{
            position: absolute;
            top: 60%;
            width: 80%;
            left: 10%;
            min-height: 2em;
            select{
                width: 15%;
            }
            .prviRed{
                width: 67%;
            }
            .ceoRed{
                width: 87.5%;
            }
            textarea{
                width: 87.5%;;
            }
        }
    }
}
}
@media screen and (max-width:300px){
    body{
        header{
            height: 16em;
            nav{
                .NewYork{
                    width: 100%; 
                }
                ul{
                    text-align: center;
                    margin: 0 0 0 17%;
                    li{
                        display: block;
                    }
                }
            }
        }
        .prvaSekcija{
            position: relative;
            background-image: none;
            background-color: black;
            color: white;
            text-align: center;
            margin: 0;
            padding: 0;
            height: 100px;
            div{
                position: absolute;
                top: 7%;
                left: 10%;
                width: 85%;
                height: 3em;
                background-color: $pozadina-naslova-prveSekcije;
                text-align: center;
                h1{
                    font: $Web-fontovi;
                    margin: 0;
                }
                p{
                    font: $Web-fontovi;
                    font-size: small;
                    margin: 0;
                    text-align: justify;
                }
            }
        }
        .drugaSekcija{
            form{
                float: none;
                margin-left: 25%;
                input{
                    font-size: 6px;
                    width: 20%;
                }
            }
        }
        .trecaSekcija{
            div{
                padding: 2% 12% 2% 2%;
                figure{
                    width: 100%;
                    &:hover{
                        figcaption{
                            left: 2.9%;
                        }
                    }
                }
            }
        }
        .cetvrtaSekcija{
            position: relative;
            text-align: center;
            min-height: 7em;
            h1{
                font: $Web-fontovi;
                color: $Naslovi;
                margin-bottom: 5%;
            }
            p{
                color: $Boja-fonta;
                margin-bottom: 3%;
            }
            input{
                display: inline-block;
                position: absolute;
                top: 75%;
                left: 30%;
                text-align: center;
                padding: 0.5em;
                border-radius: 20px;
                border-style: groove;
                background-color: white;
                color: $Boja-fonta;
            }
            table{
                display: none;
            }
        }
        .petaSekcija{
            background-color: $Svetlo-siva-1;
            position: relative;
            min-height: 700px;
            div{
                position: absolute;
                top: 15%;
                width: 80%;
                left: 10%;
                .mapa{
                    width: 100%;
                }
            }
            form{
                position: absolute;
                top: 60%;
                width: 80%;
                left: 10%;
                min-height: 2em;
                select{
                    width: 20%;
                }
                .prviRed{
                    width: 45%;
                }
                .ceoRed{
                    width: 74.9%;
                }
                textarea{
                    width: 74.9%;;
                }
            }
        }
    }
}

